.header {
    grid-area: h;
    background-color: rgb(218, 218, 218);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
.header img {
    width: 60px;
    height: 60px;
}