body {
    background-color: rgb(17, 17, 17);
}

.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    /* расстояние между фракциями */
}

.app-wrapper__content {
    grid-area: c;
    background-color: rgb(218, 218, 218);
}

.btn {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}

.btn:hover {
  color: black;
  background-color: rgb(41, 148, 158);
  font-weight: bold;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: rgb(41, 148, 158);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  