body {
    background-color: rgb(17, 17, 17);
}

.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    /* расстояние между фракциями */
}

.app-wrapper__content {
    grid-area: c;
    background-color: rgb(218, 218, 218);
}
