* {
    box-sizing: border-box;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    padding: 20px 0px 20px 20px;
}

.dialog {
    display: flex;
    flex-basis: 166px;
}

.dialog a.active {
    background-color: rgb(41, 148, 158);
}

.dialog a:hover {
    background-color: rgb(41, 148, 158);
}

.dialog a {
    padding-top: 1em;
    text-align: center;
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.messages {
    padding: 20px;
    position: relative;
}

.message {

}

.textMessage {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 786px;
    /* ввод сообщений. чтобы кнопка поместилась в паддинг. */
}

.textMessageFlex {
    display: flex;
    justify-content: space-between;
}

textarea {
    border: none;
    width: 80%;
    resize: none;
    outline: none;
}

.btnSendMessage {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}